<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    
  </head>
  <body>


    <div style="display: flex; height: 100%; flex-direction: column">

      <table border="2" >
        <thead>
          <tr>
            <th>User</th>
            <th>Fail on "prepare" phase?</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
          {% for user in users %}
          <tr>
            <form class="fetch-form" action="/chat/delete" method="POST">
              <td>
                {{ user }}
                <input type="hidden" name="username" value="{{user}}" readonly>
              </td>
              <td>
                <input type="checkbox" name="fail_on_prepare">
              </td>
              <td>
                <button type="submit">Delete</button>
              </td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <form class="fetch-form" action="/chat/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Submit</button>
      </form>

      <form onsubmit="connect(event)">
        <label for="chatroom">Chatroom:</label>
        <input type="text" id="chatroom" name="chatroom" required minlength="1" />
        <button type="submit">Connect</button>
      </form>
      

      <form onsubmit="return send(event)">
        <input type="text" name="message" minlength="1" placeholder="Type your message" />
        <button type="submit">Send</button>
      </form>

      <ul id="messages" style="flex-grow: 1; list-style-type: none"></ul>
      
    </div>
  </body>
</html>
